html{
  box-sizing: border-box;
}

*,*:before,*:after{box-sizing: inherit;}

*{
  font-family: 'Montserrat', sans-serif;
}


body{
  background-image: url(./img/fondo.jpg);
  color: white;
}

a{
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}