.container{
     width: 1600px; 
     margin: auto;     
}

.LandingPageContent{
     margin-top: 250px;
     display: flex;
     flex-direction: column;
}

.LandingPageContent h1{
     font-weight: 400;
     font-size: 45px
}

.LandingPageContent span{
     font-weight: 700;
}

.button{
     background-color: #026773;
     width: 180px;
     height: 40px;
     font-size: 16px;
     font-weight: 700;
     border-radius: 10px;
     border: none;
     
}

.button:hover{
     background-color: #3CA6A6;
}